body{
    font-family:'Times New Roman', Times, serif;
    /*background-image: url(../assets/pexels-skylar-kang-6368904-min.jpg);*/
    width: 100%;
    height: 100%;
}

#container{
    margin: 20px;
    background-color: #DFE8F7;
    height: 80px;
    display: 'grid';
}

#content{
    margin-left: 20px;
    display: 'inline-grid';
}


  input[type=text], [type=date], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  input[type=text]:hover, [type=date]:hover, textarea:hover {
    border: 1px solid rgb(41, 0, 223);
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #2B5CB6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  input[type=submit]:hover {
    background-color: #ECE6FF;
    color: black;
  }

  * {
    box-sizing: border-box;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 90%
  }
  
  ul li {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
  }

  #mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* Style the navigation menu */
  #myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Style the navigation links */
  #myMenu li.hide { display: none; }
  


  #myMenu li:hover {
    background-color: #2B5CB6;
     color: white;
}

  .flex-grid {
    display: flex;
  }
  .flex-grid .col {
    flex: 1;
    margin-right: 20px;
    margin-left:20px
  }

  .flex-grid .col2 {
    flex: 1;

  }

  .delBtn{
    float: right;
  }

  .delBtn:hover{
    text-decoration: none;
    background-color: #2B5CB6;
  }

  .imgBtn{
    width: 10%;
    float: right;
  }

  
